* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
/* navbar*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: white;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.logo span {
    color: #ff4d30;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}
nav ul li a:hover {
    color: #e63e22;
    
}
nav ul li a:hover::after {
    width: 100%;
}
nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500px;
}
nav a span {
    color: #ff4d30;
}
button {
    background: #ff4d30;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 18px;
    
}
/* section */
.hero {
    height: 100vh;
    background: url("https://images.pexels.com/photos/6339401/pexels-photo-6339401.jpeg") no-repeat center/cover;
    position: relative;
}
.hero-content {
    text-align: center;
    height: 100vh;
    color: white;
    display: flex;
    background: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero h5 {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.hero h1 {
    font-size: 60px;
    font-weight: bold;
}
.hero span {
    color: #ff4d30;
}
.hero .main-button {
    padding: 12px 25px;
    margin-top: 20px;
    text-decoration: none;
    transition: 0.3s;
    color: white;
    border-radius: 5px;
    background: #ff4d30;
}
.hero .main-button:hover {
    background: #e63e22;
}
.program-section {
    background-color: #f7f7f7; /*midib qafiif eh oo backgrounka */
    padding: 80px 0;
    font-family: 'poppins', sans-serif;
}
.header-text {
    text-align: center;
    margin-bottom: 50px;
}
.header-text h2 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 28px;
    color: #232d39;
}
.header-text span {
    color: #ed563b;

}
.program-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    max-width: 1200px;
    margin: 40px auto;
}
.program-item {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    
}
.icon-box  {
    background-color: #ed563b;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-box i {
    color: white;
    font-size: 45px;

}
.content h3 {
    margin-top: 0;
    color: #232d39;
    font-size: 1.2rem;
    line-height: 25px;
   
}
.content p {
    font-size: 0.9rem;
    color: #7a7a7a;
    line-height: 1.6;
}
.content a:hover {
    color: #f9735b;
}
.content a {
    text-transform: uppercase;
    transition: all .3s;
    text-decoration: none;
    color: #ed563b;
    font-weight: 600;
    font-size: 0.8rem;
}
.section-hero {
    background-color: #111;
    color: white;
    padding: 100px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Container {
    max-width: 800px;
}
.section-hero h1 {
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 900;
}
.section-hero h1 span {
    color: #ff5722;
}
.section-hero p {
    margin-bottom: 30px;
}
.btn-member {
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    background-color: #ff5722;
    display: inline-block;
    transition: 0.3s;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}
.btn-member:hover  {
    color: #4e3e3a;

}